.logo {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  //height: 64px;
  //position: relative;
  //box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

// .title {
//   display: flex;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   margin: 0;
//   line-height: 48px;
//   padding: 0 64px 0 8px;
// }

// .title:hover {
//   cursor: pointer;
// }


// .spacer {
//   flex: 1 1 auto;
// }