.logo {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  z-index: 9;
}