<mat-card class="product-card">

  <div class="product-icon">
    <mat-icon aria-hidden="false">fastfood</mat-icon>
  </div>

  <mat-card-header>
    <mat-card-title>{{ product().name }}</mat-card-title>
    <p class="description">{{ product().description }}</p>
  </mat-card-header>
  
  <div class="card-footer">
    
    <mat-card-content>
      @if (productService.isSearching()) {
                <span class="product-category-badge">{{ product().category }}</span>
            }
      @if (product().promotionalPrice) {
        <span class="sale-badge">Promoção</span>
        <p class="price-row">
          <span class="price">{{ product().promotionalPrice }}</span>
          <span class="promotional-price">{{ product().price }}</span>
        </p>
      } @else {
        <p class="price-row">
          <span class="price">{{ product().price }}</span>
        </p>
      }
    </mat-card-content>

    <mat-card-actions>
      <!-- <button mat-button (click)="onAddToCard()"> {{ addButtonLabel() }} </button> -->
       <button mat-icon-button class="cart-button" (click)="onAddToCard()">
            <mat-icon 
            aria-hidden="false"
            >add</mat-icon>
        </button>
    </mat-card-actions>

  </div>

</mat-card>
